:root {
  --primary-color: #516d96;
  --secondary-color: #43597f;
  --link-color: #ea8153;
  --border-color: #d6dfe4;
  --background-color: #e6f1fa;
  --box-shadow: 0px 0px 2px rgba(151, 166, 195, 0.387);
  --container-color: #eff4f8;
}

.App {
  background: var(--container-color);
  margin-bottom: -10px;
  padding: 20px 0 100px;
}

.App .app-container {
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  max-width: 900px;
  padding: 20px 40px 60px;
}

.App h1 {
  color: var(--primary-color);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 45px;
  margin: 40px 0 30px;
}
.App footer {
  color: var(--secondary-color);
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  margin: -30px auto;
  text-align: center;
}
.App footer:hover {
  text-decoration: underline;
}
.App .source-code-link {
  color: var(--link-color);
  text-decoration: none;
}
@media (max-width: 600px) {
  .App {
    margin: -50px 0;
    text-align: center;
  }
  .App .app-container {
    border-radius: 0;
  }
  .App footer {
    margin-bottom: -70px;
  }
}
