.Dictionary .form-search {
  font-size: 15px;
  max-width: 40%;
}
.Dictionary input {
  opacity: 0.5;
}
.Dictionary .hint {
  color: #939da3;
  font-style: italic;
  font-size: 12px;
  margin-left: 3px;
  text-align: start;
}
@media (max-width: 600px) {
  .Dictionary .form-search {
    max-width: 100%;
  }
}
