.Synonyms {
  font-weight: bolder;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Synonyms .similar-words {
  color: var(--primary-color);
  font-family: "Trebuchet MS", sans-serif;
  font-style: italic;
  padding-right: 12px;
}
